<div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>用户管理</el-breadcrumb-item>
        <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>

    <el-row :gutter="20">
        <el-col :span="8">
            <!-- 输入框 -->
            <el-input placeholder="请输入内容" v-model="input3" class="input-with-select">
                <el-button slot="append" icon="el-icon-search" @click='search'></el-button>
            </el-input>
        </el-col>
        <el-col :span="8">
            <!-- 添加用户 -->
            <el-button @click="showAddUeserDialog">添加用户</el-button>
        </el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple"></div>
        </el-col>
    </el-row>
    <!-- 表格 -->
    <el-table :data="userData" style="width: 100%">
        <el-table-column prop="username" label="姓名" width="180">
        </el-table-column>
        <el-table-column prop="email" label="邮箱" width="180">
        </el-table-column>

        <el-table-column prop="mobile" label="电话">
        </el-table-column>
        <el-table-column prop="address" label="用户状态">
            <!-- 自定义列 -->
            <template slot-scope='scope'>

                <el-switch @change='stateChange(scope.row)' v-model='scope.row.mg_state'>
                </el-switch>
            </template>
        </el-table-column>
        <el-table-column prop="address" label="地址">
            <el-button type="primary" icon="el-icon-edit"></el-button>
            <el-button type="danger" icon="el-icon-delete"></el-button>
            <el-button type="success" icon="el-icon-check">分配角色</el-button>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination background layout="prev, pager, next" :total="total" :page-size="2" :current-page='pagenum'
        @current-change='currentChange'>
    </el-pagination>
    <!-- 对话框 添加用户对话框 -->
    <el-dialog title="添加用户" :visible.sync="dialogAddUsersVisible" @closed='dialogClosed'>
        <el-form :model="addUsersForm" :rules="rules" label-width='80px' ref='addUsersRef'>
            <el-form-item label="用户名" prop="username">
                <el-input v-model="addUsersForm.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input v-model="addUsersForm.password" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="邮箱" prop="email">
                <el-input v-model="addUsersForm.email" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="手机" prop="mobile">
                <el-input v-model="addUsersForm.mobile" autocomplete="off"></el-input>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogAddUsersVisible = false">取 消</el-button>
            <el-button type="primary" @click='addUser'>确 定</el-button>
        </div>
    </el-dialog>
</div>
